*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}
/* nav section start  */
.logo{
    display:flex;
    gap:0.5rem;
    align-items:center;
    margin-left:0.5rem;
}
.logo img{
    width:2rem;
    height:2rem;
}
.logo h1{
    font-family:oswald;
}
.nav-section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0.3rem;
}
.nav ul li{
    display:inline-block;
    margin-right:2rem;
}
.nav ul li a {
    color:black;
    font-family:poppins;
    transition:all 0.4s ease;
}
.nav ul li a:hover{
    color:gray;
}
/* nav section end */
/* header banner section start  */
header {
    width:100%;
    height:100vh;
    background-color:rgba(30, 143, 255, 0.157);
}
.header-banner-container{
    display:flex;
    max-width:800px;
    margin:0rem auto;
    justify-content:space-between;
    align-items:center;
    font-family:poppins;
}
.header-banner-text h1{
    font-size:2.5rem;
    margin-bottom:1rem;
}
.header-banner-text p{
    font-size:0.8rem;
    color:#5D616F;
    margin-bottom:1rem;
}
.button-section-1{
    display:flex;
    gap:1rem;
}
.button-section-1 button{
    padding:1rem;
    border:none;
    border-radius:2rem;
}
.btn-1{
    background-color:#3E82FC;
    color:white;
    font-weight:600;
    transition:all 0.4s ease;
}
.btn-1:hover{
    background:white;
    color:#3E82FC;
    border:1px solid #3E82FC;
}
.btn-2{
    border:1px solid #3E82FC;
    color:#3E82FC;
    background-color:white;
    font-weight:600;
    transition:all 0.4s ease;
}
.btn-2:hover{
    background-color:#3E82FC;
    color:white;
    border:1px solid #3E82FC;
}
.header-banner-image img{
    width:20rem;
}
/* header banner section end */
/* section 1 start  */
.section-1{
    display:flex;
    max-width:100%;
    margin:0rem auto;
    background-color:rgba(30, 143, 255, 0.157);
    padding:2rem;
    gap:1rem;
}
.section-1-text{
    display:flex;
    flex-direction:column;
    gap:1rem;
    font-family:poppins;
    background-color: white;
    padding:1rem;
    border-radius:0.5rem;
}
.section-1-text img{
    width:3rem;
}
.section-1-text h3{
    font-family:poppins;
}
.section-1-text p{
    font-size:0.8rem;
    color:#5D616F;
}
.section-1-text h6{
    color:red;
    font-weight:400;
    font-size:.8rem;
}
/* section 1 end */
/* section 2 start  */
.section-2-header{
    text-align:center;
    margin:2rem auto;
    font-family:poppins;
}
.first-span{
    font-style:italic;
    text-transform:uppercase;
    font-weight:600;
    color:red;
}
.section-2-container{
    display:flex;
    max-width:800px;
    margin:0rem auto;
    gap:5rem;
    align-items:center;
}
.section-2-image img{
    width:20rem;
}
.section-2-text{
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.section-2-text h1{
    font-size:3rem;
    font-family:poppins;
}
.section-2-text p{
    font-size:1rem;
    font-family:poppins;
    color:#5D616F;
}
.section-2-text button{
    width:10rem;
    padding:1rem;
    border-radius:2rem;
    border:none;
    background-color:#3E82FC;
    color:white;
    font-weight:600;
    transition:all 0.4s ease;
}
.section-2-text button:hover{
    border:1px solid #3E82FC;
    color:#3E82FC;
    background-color:white;
}
/* section 2 end */
/* section 3 start  */
.section-3-header{
    margin:5rem auto;font-family:poppins;
    text-align:center;
}
.section-3-header p{
    color:#3E82FC;
    font-size:1rem;
}
.section-3-header h1{
    font-size:2rem;
}
.section-3-container{
    max-width:800px;
    display:flex;
    flex-wrap:wrap;
    margin:0rem auto;
    gap:3rem;
    padding-bottom:2rem;
}
.section-3-icons{
    text-transform:uppercase;
    margin:0rem auto;
    font-family:poppins;
}
.span-2{
    color:#C1B900;
    font-style:italic;
}
.span-3{
    color:#279CDB;
}
.span-4{
    color:#E0B06C;
    font-weight:400;
}
.span-5{
    color:#3E82FC;
}
.span-6{
    color:red;
    font-style:italic;
}
.span-7{
    color:#273B7D;
}
.span-8{
    color:#3E82FC;
}
/* section 3 end */
/* footer start  */
footer{
    width:100%;
    height:auto;
    background-color:#ECF3FF;
}
.footer-header-container{
    text-align:center;
    margin:0rem auto;
    padding-top:5rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
    font-family:poppins;
}
.footer-buttons input{
    padding:0.5rem 3rem;
    border-color:#3E82FC;
    color:#3E82FC;
    font-weight:600;
    border:1px solid #3E82FC;
    border-collapse:collapse;
    border-radius:2rem;
}
.footer-buttons button{
    padding:0.5rem 3rem;
    border-color:#3E82FC;
    background-color:#3E82FC;
    font-weight:600;
    color:white;
    border:1px solid #3E82FC;
    border-collapse:collapse;
    border-radius:2rem;
    margin-left:1rem;
    transition:all 0.4s ease;
}
.footer-buttons button:hover{
    background-color:white;
    color:#3E82FC;
}
.footer-text-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0rem auto;
    padding:2rem;
}
.footer-text-1{
    display:flex;
    gap:1rem;
    flex-direction:column;
}
.footer-logo{
    display:flex;
    gap:0.5rem;
    font-family:oswald;
    text-transform:uppercase;
}
.footer-logo img{
    width:2.5rem;
}
.footer-text-1 p{
    font-family:poppins;
}
.footer-icons{
    display:flex;
    gap:1rem;
}
.footer-icons i{
    font-size:1.5rem;
}
.footer-text-2{
    margin-top:5rem;
    font-family:poppins;
}
.footer-text-2 ul li{
    list-style:none;
    margin-bottom:1rem;
}
.footer-copyright-text p{
    text-align:center;
    margin:0rem auto;
    font-family:poppins;
    font-size:0.8rem;
    text-transform:uppercase;
}
/* footer end */
/* responsive design tablet approach start  */
@media screen and (min-width: 576px) and (max-width: 992px){
    header{
        width:auto;
        height:auto;
        padding:.8rem;
    }
    .nav-section{
        flex-direction:column;
        gap:2rem;
        margin:0rem auto;
        text-align:center;
    }
    .header-banner-container{
        flex-direction:column;
        gap:2rem;
        margin-top:1rem;
    }
    .section-1{
        flex-direction:column;
        gap:2rem;
        text-align:center;
    }
    .section-1-text img{
        margin:0rem auto;
    }
    .section-2-container{
        flex-direction:column;
        padding:1rem;
    }
    .section-2-image img{
        width:auto;
        height:auto;
    }
    .section-2-text{
        text-align:center;
        margin:1rem auto;
        gap:1rem;
    }
    .section-2-text button{
        margin:0rem auto;
    }
    .section-3-container{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
    }
    .footer-header-container{
        flex-direction:column;
        gap:1rem;
        padding:1rem;
        margin:5rem auto;
        padding-top:5rem;
    }
    .footer-buttons button{
        margin-left:1rem;
    }
}
/* responsive design tablet approach end */
/* responsive design mobile approach start  */
@media screen and (max-width: 576px){
    header{
        width:auto;
        height:auto;
        padding:.8rem;
    }
    .nav-section{
        flex-direction:column;
        gap:2rem;
        margin:0rem auto;
        text-align:center;
    }
    .header-banner-container{
        flex-direction:column;
        gap:2rem;
        margin-top:1rem;
    }
    .section-1{
        flex-direction:column;
        gap:2rem;
    }
    .section-2-container{
        flex-direction:column;
        padding:1rem;
    }
    .section-2-text{
        text-align:center;
        margin:1rem auto;
        gap:1rem;
    }
    .section-2-text button{
        margin:0rem auto;
    }.section-2-image img{
        width:100%;
        height:auto;
    }
    .section-3-container{
        flex-direction:column;
        margin:0rem auto;
    }
    .footer-header-container{
        flex-direction:column;
        gap:1rem;
        padding:1rem;
        margin:5rem auto;
        padding-top:5rem;
    }
    .footer-buttons input{
        margin-left:0rem;
        margin-bottom:1rem;
        width:100%;
    }
    .footer-buttons button{
        margin-left:0rem;
        width:100%;
    }
    .footer-text-container{
        flex-direction:column;
        text-align:center;
    }
    .footer-logo{
        margin:0rem auto;
        gap:0.5rem;
    }
    .footer-icons{
        margin:0rem auto;
    }
}
/* responsive design mobile approach end */